
<main class="container-xxl pt-sm-5 mt-lg-4 pb-sm-5 mb-lg-4 pt-3 pb-3">
  <img src="Tea_project_Angular/assets/images/main_image.png" class="img-fluid" alt="Tea pot and cup">
</main>

<article class="faq container-fluid pb-5">
  <h2 class="pb-4 mb-md-4  fw-bold text-center">Ответы на часто задаваемые вопросы</h2>
  <div  id="accordionExample" ngbAccordion>
    <div class="pb-3 border border-0" ngbAccordionItem>
      <h2 class=ngbAccordionHeader>
        <button class="text-white  fs-6 fw-bold pt-4 pb-4 rounded" ngbAccordionButton>
          Собираете ли вы подарочные боксы?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </div>
      </div>
    </div>
    <div class="pb-3 border border-0" ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button class="text-white fs-6 fw-bold pt-4 pb-4 rounded" ngbAccordionButton>
          Сколько у вас разновидностей чая?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Постоянно 6 разновидностей, но можно заказать дополнительно 16 сортов.
        </div>
      </div>
    </div>
    <div class="pb-3 border border-0" ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button class="text-white fs-6 fw-bold pt-4 pb-4 rounded" ngbAccordionButton>
          В какой срок осуществляется доставка?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          От 5 дней до 2 недель при заказе редкого сорта.
        </div>
      </div>
    </div>
    <div class="pb-3 border border-0" ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button class="text-white fs-6 fw-bold pt-4 pb-4 rounded" ngbAccordionButton>
          У вас обновляется ассортимент?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Да раз в две недели.
        </div>
      </div>
    </div>
    <div class="pb-3 border border-0" ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button class="text-white fs-6 fw-bold pt-4 pb-4 rounded" ngbAccordionButton>
          Какого объема у вас пачки чая?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          У нас разная упаковка, есть 50, 100, 200 грамм.
        </div>
      </div>
    </div>

  </div>
</article>

<div class="modal d-flex" *ngIf="isPopupOpen">
  <div class="modal-dialog d-flex justify-content-center align-items-center">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="btn-close" (click)="closePopup()"></button>
      </div>
      <div class="modal-body text-center fs-4">
        <p>Посмотрите наши чайные коллекции</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" [routerLink]="'/catalogue'">Смотреть</button>
      </div>
    </div>
  </div>
</div>
